---
name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout project
      uses: actions/checkout@master
      with:
        submodules: recursive

    - name: Build project
      run: |
          git config --global --add safe.directory `pwd` 
          sudo -E apt install imagemagick gcc libmbedtls-dev -y
          cd src
          mv config.mk.template config.mk
          make -j 
          
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        path: ./hacbrewpack
        
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.release_token }}
        file: ./hacbrewpack
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
        make_latest: true 
        release_name: ${{ github.event.repository.updated_at }}
